.mdl-button {
  margin: 10px;
}
html, body, #app {
  height: 100%;
  margin: 0;
}

.mdl-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mdl-layout__content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.demo-footer {
  margin-top: auto; /* Dies schiebt den Footer nach unten */
}